@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.url {
  @apply hover:underline hover:text-frame;
}

.navbtn {
  @apply rounded-sm px-4 py-1.5 text-2xl font-semibold text-white shadow-sm hover:bg-frame focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 border-2 border-frame;
}
.loader {
  @apply rounded-sm px-4 py-2 text-2xl font-semibold text-white shadow-sm bg-frame;
} 


